input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

label {
  padding: 12px 20px;
}

button {
  float: center;
  background-color: beige;
}

.form-containe {
  display: inline;
}

.makeStyles-root-24 {
  margin-left: 10px;
}
